@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00684a;
  --secondary: #171717;
  --tertiary: #ff0000;
}

@layer utilities {
  .session-btn {
    @apply bg-[--primary] text-black border border-black py-5;
  }
  .yellow_container {
    @apply w-full bg-[#00684a] min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }
  .heading {
    @apply uppercase rounded-xl bg-black px-10 py-5  font-extrabold text-white md:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-full text-center my-5;
  }
  .sub-heading {
    @apply font-medium text-xl text-white max-w-2xl text-center break-words;
}
.search-form-css{
  @apply flex gap-2 bg-white p-6 rounded-full border border-black border-b-8 w-[300px] md:w-[450px] lg:w-[450px] mt-5
}

.startup-card {
  @apply bg-white w-[300px] md:w-[450px] lg:w-[450px] border-[4px] border-black border-b-8 border-r-8  py-6 px-5 rounded-[22px] hover:border-primary transition-all duration-500 hover:bg-yellow-300;
}
.tag {
  @apply bg-red-500 px-6 py-3 font-bold rounded-sm uppercase relative tag-tri;
}
.tag-tri {
  @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
}
.create_section{
  @apply py-4 flex flex-col px-10 md:mr-44 md:ml-44 pb-5
}
.create_section_label{
  @apply font-semibold text-lg ml-3 mt-3
}

  .pattern{
      background-image: linear-gradient(
              to right,
              transparent 49.5%,
              rgba(105, 88, 88, 0.2) 60.5%,
              rgba(63, 47, 47, 0.6) 50.5%,
              transparent 50.5%
      );
      background-size: 5% 100%;
      background-position: center;
      background-repeat: repeat-x;
    /* background-image: url("./../assets/grid.png"); */
  }
}
